@charset "UTF-8";
/*定义滚动条高宽及背景
 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/*定义滚动条轨道
  内阴影+圆角*/
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
}

/*定义滑块
  内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar-button {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0.2);
}

.flex, .flex-dc, .flex-dcr, .flex-dr, .flex-drr, .flex-fw, .flex-jce, .flex-jcc, .flex-jcb, .footer__content .live .live-list li, .flex-jca, .flex-aie, .flex-aic, .flex-ais, .flex-center, .drone-infos li i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* flex-direction */
.dc, .flex-dc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dcr, .flex-dcr {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.dr, .flex-dr {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.drr, .flex-drr {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

/* flex-wrap */
.fw, .flex-fw {
  -ms-flex-wrap: wrap;
  -webkit-box-lines: multiple;
  flex-wrap: wrap;
}

.jce, .flex-jce {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.jcc, .flex-jcc, .flex-center, .drone-infos li i {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.jcb, .flex-jcb, .footer__content .live .live-list li {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.jca, .flex-jca {
  -webkit-box-pack: justify;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.aie, .flex-aie {
  -webkit-box-align: end;
  -ms-flex-align: end;
      align-items: flex-end;
}

.aic, .flex-aic, .flex-center, .drone-infos li i {
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}

.ais, .flex-ais {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.wrap {
  position: absolute;
  width: 5760px;
  height: 1890px;
  background: url(../images/bg.jpg) center no-repeat;
}

.logo {
  width: 3839px;
  height: 160px;
  margin: 0 auto;
  background: url(../images/title.png) top center no-repeat;
}

.container {
  padding: 0 100px;
}

.left-box, .left-box2 {
  height: 797px;
  width: 1153px;
  padding: 50px 70px;
  color: #fff;
  background: url(../images/left-top-bg.png) no-repeat;
}

.left-box h3, .left-box2 h3 {
  font-size: 48px;
  font-weight: 700;
  color: #21efff;
}

.drone-infos {
  margin-top: 30px;
}

.drone-infos li {
  font-size: 32px;
}

.drone-infos li i {
  width: 106px;
  height: 106px;
  background: url(../images/yuanquan.png) no-repeat;
  margin-right: 25px;
}

.drone-infos li i::before {
  content: ' ';
  display: inline-block;
  width: 72px;
  height: 72px;
  background: url(../images/drone-icon.png) center no-repeat;
}

.drone-infos li:nth-child(2) i::before {
  background: url(../images/time-icon.png) center no-repeat;
}

.drone-infos li:nth-child(3) i::before {
  background: url(../images/jiaci-icon.png) center no-repeat;
}

.drone-infos li .info strong {
  font-size: 48px;
  color: #21efff;
}

.dizuo {
  background: url(../images/dizuo.png) bottom center no-repeat;
}

.chart-wrap {
  margin-top: 40px;
  padding: 0 0 60px 0;
}

.left-box2 {
  background: url(../images/left-bottom-bg.png) no-repeat;
  margin-top: 18px;
}

.table {
  margin-top: 30px;
  padding-bottom: 80px;
}

.table::before {
  display: inline-block;
  width: 100%;
  height: 5px;
  background: url(../images/table-bg.png) 0 0 no-repeat;
  content: '';
}

.table table {
  width: 100%;
}

.table table td,
.table table th {
  line-height: 55px;
  border: 1px solid #1e8ed8;
  text-align: center;
  font-size: 20px !important;
}

.table table th {
  color: #21efff;
  background-color: #104582;
}

.table table tr:nth-child(odd) td {
  background: rgba(255, 255, 255, 0.1);
}

.content {
  margin: 0 50px;
  width: 3160px;
  height: 1597px;
  padding: 30px 10px;
  overflow: hidden;
  border-bottom: 10px solid transparent;
  background: url(../images/map-bg.png) no-repeat;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 194px;
  background: url(../images/footer-bg.png) bottom center no-repeat;
}

.footer__content {
  position: relative;
}

.footer__content .live {
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  background: #081b3f;
  -webkit-transform: translate(-142%, 88px);
          transform: translate(-142%, 88px);
}

.footer__content .live .text {
  width: 350px;
  height: 80px;
  padding: 20px;
  border: 1px solid #2d6584;
  cursor: pointer;
  font-size: 32px;
}

.footer__content .live .text strong {
  color: #21efff;
  margin-left: 20px;
}

.footer__content .live .text::after {
  display: inline-block;
  width: 33px;
  height: 33px;
  background: url(../images/向上展开.png) no-repeat;
  content: '';
}

.footer__content .live .text.open::after {
  background: url(../images/向下收起.png) no-repeat;
}

.footer__content .live .live-list {
  position: absolute;
  padding: 20px;
  width: 100%;
  background: #081b3f;
  border: 1px solid #2d6584;
  bottom: 79px;
  font-size: 24px;
  display: none;
}

.footer__content .live .live-list h3 {
  color: #21efff;
  font-size: 24px;
}

.footer__content .live .live-list li {
  margin-top: 15px;
  padding: 10px 15px;
  background: #02101e;
  cursor: pointer;
}

.footer__content .live .live-list li i {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../images/弹出视频.png) no-repeat;
}

.menu {
  width: 2969px;
  height: 194px;
  padding: 50px 200px 0;
}

.menu li {
  width: 270px;
  height: 145px;
  margin: 0 30px;
  cursor: pointer;
}

.menu li:nth-child(1) {
  background: url(../images/04.png) center no-repeat;
}

.menu li:nth-child(1):hover {
  background: url(../images/1.png) center no-repeat;
}

.menu li:nth-child(2) {
  margin-left: 140px;
  background: url(../images/03.png) center no-repeat;
}

.menu li:nth-child(2):hover {
  background: url(../images/2.png) center no-repeat;
}

.menu li:nth-child(4) {
  margin-right: 140px;
  background: url(../images/02.png) center no-repeat;
}

.menu li:nth-child(4):hover {
  background: url(../images/3.png) center no-repeat;
}

.menu li:nth-child(5) {
  background: url(../images/01.png) center no-repeat;
}

.menu li:nth-child(5):hover {
  background: url(../images/4.png) center no-repeat;
}

.tabs {
  padding: 5px;
  background: #1a4287;
  color: #21efff;
  font-size: 28px;
  border-radius: 40px;
}

.tabs span {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 40px;
  cursor: pointer;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.tabs span:hover, .tabs span.active {
  background: #21efff;
  color: #1a4287;
}

.train {
  padding-bottom: 95px;
}

.train .item {
  text-align: center;
  width: 329px;
  height: 480px;
  padding: 50px;
  background: url(../images/train-bg1.png) no-repeat;
}

.train .item:nth-child(2) {
  margin-left: 88px;
  background: url(../images/train-bg2.png) no-repeat;
}

.train .item h4 {
  font-size: 32px;
}

.train .item .train-mile li {
  width: 224px;
  line-height: 75px;
  color: #21efff;
  font-size: 28px;
  background: url(../images/train-btn-bg.png);
  margin-top: 20px;
}

.train .item .child {
  font-size: 32px;
  margin: 70px 0;
}

.train .item .child strong {
  color: #21efff;
}

.shuiyun {
  width: 417px;
  height: 404px;
  margin: 30px 0 0 35px;
  background: url(../images/shuiyun-icon.png) no-repeat;
}

.shuiyun.hangyun {
  background: url(../images/fly-icon.png) no-repeat;
}

.river {
  margin-left: -90px;
}

.river li {
  color: #fff;
  font-size: 28px;
  margin-bottom: 30px;
}

.river li strong {
  color: #21efff;
}

.river li:nth-child(1) {
  width: 613px;
  height: 121px;
  padding: 30px 0 0 150px;
  background: url(../images/shuiyun1.png) 15px top no-repeat;
}

.river li:nth-child(2) {
  width: 613px;
  height: 121px;
  padding: 30px 0 0 150px;
  background: url(../images/shuiyun2.png) 2px top no-repeat;
}

.river li:nth-child(3) {
  width: 613px;
  height: 121px;
  padding: 30px 0 0 150px;
  background: url(../images/shuiyun3.png) left bottom no-repeat;
}

.event-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.event-list li {
  width: 319px;
  height: 252px;
  text-align: center;
  font-size: 36px;
  background: url(../images/event-bg.png) no-repeat;
  margin: 0px 50px;
}

.event-list li p {
  margin: 30px 0;
}

.event-list li strong {
  font-weight: bolder;
  font-size: 48px;
}

.run-time {
  position: absolute;
  top: 35px;
  right: 95px;
}

.run-time .item {
  width: 432px;
  height: 110px;
  padding-top: 45px;
  text-align: center;
  color: #fff;
  font-size: 32px;
  font-weight: bolder;
  background: url(../images/run-time.png) no-repeat;
}

.pop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.pop .alert-pop {
  position: relative;
  width: 1515px;
  height: 753px;
  padding: 70px 200px 70px 100px;
  background: url(../images/alert-bg.png) no-repeat;
}

.pop .alert-pop .close {
  position: absolute;
  top: 70px;
  right: 290px;
  width: 26px;
  height: 26px;
  background: url(../images/alert-close.png) no-repeat;
  cursor: pointer;
}

.pop .alert-pop h3 {
  font-size: 32px;
  color: #21efff;
}

.pop .pop-content {
  margin-top: 50px;
}

.pop .pop-action li {
  line-height: 95px;
  width: 407px;
  text-align: center;
  color: #21efff;
  font-size: 28px;
  font-weight: bolder;
  margin-bottom: 35px;
  background: url(../images/action-bg.png) no-repeat;
  cursor: pointer;
}

.video-pop .video-wrap {
  width: 800px;
}
/*# sourceMappingURL=style.css.map */